body {
  background-color: hsl(233, 47%, 7%);
}

h1, h3 {
  color: hsl(0, 0%, 100%);
  font-family: "Inter", sans-serif;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Lexend Deca", sans-serif;
  font-size: 1rem;
}

img {
  width: 100%;
  height: 100%;
  background-color: hsl(277, 64%, 61%);
  mix-blend-mode: multiply;
}

.accent {
  color: hsl(277, 64%, 61%);
}

.card {
  max-width: 1880px;
  margin: 100px auto;
}

.card-body {
  padding: 50px;
}

.card-text {
  background-color: hsl(244, 38%, 16%);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.container-fluid {
  padding: 3% 15%;
}

.main-heading {
  font-weight: 700;
  padding: 20px 0px;
}

.no-padding {
  padding: 0;
}

.purple {
  box-shadow: inset 2000px 0 0 0 hsl(277, 64%, 61%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.stat {
  font-weight: 700;
}

.stat-row {
  padding-top: 40px;
}

.stat-paragraph {
  color: hsla(0, 0%, 100%, 0.6);
}
